<table>
    <tr>
        <td>ID</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td>NAME</td>
        <td>{{name}}</td>
    </tr>
</table>

<table>
    <tr>
        <td>TASK</td>
        <td>COMPLETE</td>
        <td>ESTIMATED DATE</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>No</td>
        <td>20/02/2000</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>No</td>
        <td>20/02/2000</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>No</td>
        <td>20/02/2000</td>
    </tr>
</table>